body {
      background-color: black;
      color: white;

    }

    .calculator-btn {
      color: white;
      background-color: rgb(51, 51, 51);
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: none;
      font-size: 26px;
      cursor: pointer;
      margin-right: 5px;
      padding: px;
    }

    .result {
      font-size: 35px;
      font-family: sans-serif;

    }


    .orange-btn {
      color: white;
      background-color: rgb(254, 160, 10);
    }

    .clear-button {
      font-size: 17px;
      /* padding: 10px 20px; */
    }